/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* футер (номер, почта) rgba(255, 255, 255, 0.6); */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* фон героя+футера #2F303A */

:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --basic-white: #fff;
  --second-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --logo-color: #000000;
  --foot-text-color: rgba(255, 255, 255, 0.6);
  --features-icon-box: #f5f4fa;
  --clients-border-box: #afb1b8;
  --footer-social-circle: rgba(255, 255, 255, 0.1);
  --work-text-bc: rgba(47, 48, 58, 0.8);
  --portfolio-animation: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--basic-white);
  color: var(--primary-text-color);
}
header {
  border-bottom: 1px solid #ececec;
}
.header,
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  color: var(--logo-color);
}
.logo .accent {
  color: var(--accent-color);
}

/* Navigation */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Contacts in header */

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--hero-footer-background-color);
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--basic-white);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--backdrop-background-color);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--basic-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  fill: currentColor;
}
.button-close:hover,
.button-close:focus {
  color: var(--accent-color);
}

/* Form */

.modal .title {
  margin-top: 40px;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
}
textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
textarea::placeholder {
  font-size: 12;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
textarea:focus {
  border-color: var(--accent-color);
}
.form {
  padding: 0 40px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  color: var(--second-text-color);
}
.form-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;

  fill: currentColor;
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .form-icon {
  color: var(--accent-color);
}
.form-field-check {
  margin-top: 20px;
}
.check.label {
  display: flex;
  min-width: 425px;
  align-items: center;
  justify-content: center;
  color: var(--second-text-color);
}
.form-field-check a {
  margin-left: 4px;
  text-decoration: underline;
  color: var(--accent-color);
}
.checkbox {
  appearance: none;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-position: center;
  border-color: var(--accent-color);
}
.form.button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: var(--basic-white);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-list .item {
  width: 270px;
  margin-right: 30px;
}
.features-list .item:last-child {
  margin-right: 0;
}
.features-list.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  background-color: var(--features-icon-box);
  border-radius: 4px;
}
.features-list .title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list .text {
  line-height: 1.71;

  color: var(--second-text-color);
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section.work {
  padding-top: 0;
}
.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Work section */

.work-list {
  display: flex;
}
.work-list .item {
  position: relative;
  z-index: -1;

  margin-right: 30px;
}
.work-list .item:last-child {
  margin-right: 0;
}
.work-list .title {
  position: absolute;
  bottom: 0;

  width: 370px;
  min-height: 70px;
  padding: 27px 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--work-text-bc);
}

/* Team section */

.team-list {
  display: flex;
}
.team-list .item {
  width: 270px;
  margin-right: 30px;
}
.team-list .item:last-child {
  margin-right: 0;
}
.section.team {
  background-color: var(--second-background-color);
}
.team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--second-text-color);
}
.team-border {
  padding: 30px 0;

  background-color: var(--basic-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-icon.list {
  display: flex;
  margin-top: 16px;
  padding: 0 32px;
}
.team-icon .item {
  margin-right: 10px;
}
.team-icon .item:last-child {
  margin-right: 0;
}
.team-icon.link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  color: var(--clients-border-box);
  background-color: var(--basic-white);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon .social-icon {
  fill: currentColor;
}
.team-icon.link:hover,
.team-icon.link:focus {
  color: var(--basic-white);
  background-color: var(--accent-color);
}
/* Clients */
.clients.list {
  display: flex;
}
.clients.link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;

  color: var(--clients-border-box);
  border-radius: 4px;
  border: 1px solid var(--clients-border-box);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .item {
  margin-right: 30px;
}
.clients .item:last-child {
  margin-right: 0;
}
.clients-icon {
  fill: currentColor;
}
.clients.link:hover,
.clients.link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Portfolio buttons */

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
.button-list .button {
  min-height: 38px;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-weight: 500;
}
.button-list .item {
  margin-right: 8px;
}
.button-list .item:last-child {
  margin-right: 0;
}
.button.current {
  color: var(--basic-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio list */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-border {
  min-width: 322px;
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: transparent;
}
.portfolio-list .title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--second-text-color);
}
.portfolio-link {
  position: relative;
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Portfolio-animation */

.portfolio-description {
  position: absolute;
  top: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  text-align: left;

  color: var(--basic-white);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-animation);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

/* Footer */

footer {
  padding: 60px 0;
  background-color: var(--hero-footer-background-color);
}
footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--basic-white);
}
.foot-list .item {
  margin-bottom: 9px;
}
.foot-list .item:last-child {
  margin-bottom: 0;
}
.foot-list .address {
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;

  color: var(--basic-white);
}
.foot-list .link {
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;

  color: var(--foot-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-list .link:hover,
.foot-list .link:focus {
  color: var(--accent-color);
}

/* Social in footer */

.container-flex {
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.social-section.text,
.mail-section.text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-align: left;
  color: var(--basic-white);
}
.social-list {
  display: flex;
}
.social-list .item {
  margin-right: 10px;
}
.social-list .item:last-child {
  margin-right: 0;
}
.social-list.link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  color: var(--basic-white);
  background-color: var(--footer-social-circle);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: currentColor;
}
.social-list.link:hover,
.social-list.link:focus {
  background-color: var(--accent-color);
  color: var(--basic-white);
}
.mail-form input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}
.mail-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--basic-white);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon {
  margin-left: 10px;
  fill: currentColor;
}
.mail-button:hover,
.mail-button:focus {
  color: var(--accent-color);
  background-color: var(--basic-white);
}
/* Button */

.button {
  background-color: var(--second-background-color);
  cursor: pointer;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--basic-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.primary {
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;

  font-weight: 700;

  color: var(--basic-white);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--basic-white);
}
